# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.venv/
venv/
.envrc
pytest_cache/
.pytest_cache/
.coverage
htmlcov/
*.sqlite
*.db
.eggs/
*.egg-info/

# Build
/build/
/dist/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS/IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
